<p id="notice"><%= notice %></p>

<h1>publicações</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descrição</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag idea.picture_url, width: 100 if idea.picture.present? %></td>
        <td><%= link_to 'Ver mais', idea %></td>
        <td><%= link_to 'Editar', edit_idea_path(idea) %></td>
        <td><%= link_to 'Excluir', idea, method: :delete, data: { confirm: 'Tem certeza que deseja excluir essa publicação?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova publicação', new_idea_path %>
