<h2>Editar Perfil </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aguardando confirmação: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    Nova senha:
    <!--<%= f.label :password %>--> <i>(Deixe vazio este campo caso nao deseje altera-lo)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <!--<em><%= @minimum_password_length %> characters minimum</em>-->
      <em>Minimo de 6 caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <p>Confirmação de senha:</p<br/>
    <!--<%= f.label :password_confirmation %>--><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
  Senha atual:
    <!--<%= f.label :current_password %>--> <i>(Precisamos da sua senha atual para confirmar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Não gostou? nos mande um feedback por email <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
